.contactBox{
    margin-left: 24%;
    background-color: #696969;
    width: 52%;
    padding: 4%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 12px;
}

body{
    background-image: url('../media/img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}